<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>运维平台登录页面</title>
</head>
<body>
<h1 class="m-t"></h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
  <button type="submit" class="btn btn-primary block full-width m-b">登录</button>
  <p class="text-muted text-center"> <a href="http://127.0.0.1:8000/learn/login"><small>忘记密码了？</small></a> | <a href="http://127.0.0.1:8000/learn/regist">注册一个新账号</a>
    </p>
</form>
</body>
</html>




